/* General Styles */
* {
    margin: 0;
    padding: 0;
    font-family: Terminus;
}

#waybar {
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
}

#waybar .module {
    padding: 0 4px;
    margin: 0 4px;
}

#workspaces button {
	padding: 0;
	margin: 0;
	background-color: transparent;
	color: #ffffff;
}

#workspaces button.focused {
	color: #000000; 
	background-color: #ffffff;
}

#workspaces button:hover {
    color: #000000;
    background-color: #ffffff;
}

